{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 60,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-merge"
  ],
  "tailwindFunctions": ["clsx", "twMerge"],
  "syntaxTransformation": true
}
