@import "tailwindcss";

@theme {
    --color-topbar-color: oklch(0.4013 0.0664 220.58);
    --color-footer-color: rgba(23, 103, 123, 0.1);
    --text-dafuq: 100rem;
    --font-omega: "BROmegaVN", sans-serif;
}

/* 1. Định nghĩa font-face như bình thường */
@font-face {
    font-family: "BROmegaVN";
    src: url("/fonts/BROmegaVN/BROmegaVN-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "BROmegaVN";
    src: url("/fonts/BROmegaVN/BROmegaVN-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}

@layer base {
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol,
    ul {
        list-style: none;
    }
    blockquote,
    q {
        quotes: none;
    }
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: "";
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
}

* {
    box-sizing: border-box;
    /* outline: 1px solid red !important; */
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth !important;
    overflow-x: hidden;
    font-family: var(--font-omega);
    color: #7b9ca4;
}

body {
    height: fit-content;
}

body::-webkit-scrollbar {
    background-color: #fff;
    width: 6px;
}
body::-webkit-scrollbar-thumb {
    background-color: #222;
}
body::-webkit-scrollbar-track {
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* .sweet-modal-overlay.dark-modal div::-webkit-scrollbar-thumb,
.sweet-modal-overlay.dark-modal pre::-webkit-scrollbar-thumb {
    background: #32363f;
}
.sweet-modal-overlay.dark-modal div::-webkit-scrollbar-thumb:hover,
.sweet-modal-overlay.dark-modal pre::-webkit-scrollbar-thumb:hover {
    background: #09c;
} */
/* .sweet-modal-overlay.dark-modal div::-webkit-scrollbar-track-piece,
.sweet-modal-overlay.dark-modal pre::-webkit-scrollbar-track-piece {
    background: #25272e;
} */
